<%= nested_form_for(@list, class: 'form-horizontal') do |f| %>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %>
  </div>
  <div class="form-group">

    <%= f.fields_for :items do |item_form| %>
    <%= item_form.text_field :quantity %>
      <%= item_form.text_field :description %>

      <%= item_form.link_to_remove "Remove this item" %>
    <% end %>
    <p><%= f.link_to_add "Add a item", :items %></p>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
