<div class="page-header">
  <h1>New List</h1>
</div>

<%= nested_form_for(@list, class: 'form-horizontal') do |f| %>
    <div class="form-group">
      <div class="field row">
        <%= f.label :date, :class => 'control-label col-md-2' %>
        <div class="form-controls col-md-4">
          <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d'), class: 'form-control' %>
        </div>
      </div>
    </div>

      <%= f.fields_for :items do |item_form| %>
      <div class="form-group">
        <div class="field row form-controls">
          <div class="col-md-1 col-md-offset-2 ">
            <%= item_form.text_field :quantity, class: 'form-control' %>
          </div>
          <div class="col-md-3">
            <%= item_form.text_field :description, class: 'form-control' %>
          </div>
          <div class="col-md-2">
            <!-- <%= item_form.link_to_remove "Remove this item" %> -->
            <%= item_form.link_to_remove '<span class="glyphicon glyphicon-remove" aria-hidden=true></span>'.html_safe %>
          </div>
        </div>
      </div>
      <% end %>

    <p><%= f.link_to_add "Add an item", :items %></p>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
