<div class="container">
<div class="page-header">

  <div class="pull-right">
    <%= link_to "Create List", new_list_path, class: 'btn btn-primary' %>
  </div>
  <h1>My lists</h1>
</div>
<div class="user-lists">

   <div class="column-center">
     <h2> <%= @last_month_name %> Lists </h2>
     <% @last_month_lists.each do |list| %>
     <p>
       <%= link_to list.name, list_path(list) %>
     </p>
     <% end %>

   </div>
   <div class="column-left">
     <h2> <%= @current_month_name %> Lists </h2>
     <% @current_lists.each do |list| %>
     <p>
       <%= link_to list.name, list_path(list) %>
     </p>
     <% end %>
   </div>
   <div class="column-right">
     <h2> <%= @month_before_last_name %> Lists </h2>
     <% @month_before_last_lists.each do |list| %>
     <p>
       <%= link_to list.name, list_path(list) %>
     </p>
     <% end %>
   </div>




</div>
</div>
