<!-- <ol class="breadcrumb">
  <li><a href="/lists">All Lists</a></li>
  <li class="active"> <%= @list.name %></li>
</ol> -->

<h1 class="page-title">List Details</h1>

<div class="list-show">
  <ul class="list">
    <% @list.items.each do |list_item| %>
    <li>
      <span class="quantity"><%= list_item.quantity %></span>
      <%= list_item.description %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Edit List", edit_list_path(@list), class: 'btn btn-primary' %>
  <% link_to "Add to List", '/search', class: 'btn btn-primary' %>
  <button type="button" class="btn btn-primary email-list" data-toggle="modal" data-target="#myModal">
    Email List
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog email-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Email</h4>
      </div>
      <div class="modal-body">
        <%= render('/emails/new.html.erb') %>
      </div>
    </div>
  </div>
</div>
