<div class="shopping-items col-md-6 col-md-offset-3">
  <% @list.items.each do |item| %>
  <div class="item" data-item-url="<%= item_path(item) %>">
    <p>
      <%= item.quantity %>
      <%= item.description %>
    </p>
    <div class="buttons">
      <button type="button" name="button" class="got-it"><span class="glyphicon glyphicon-ok"></span>Got It</button>
      <button type="button" name="button" class="skip-it"><span class="glyphicon glyphicon-remove"></span>Skip It</button>

    </div>
  </div>

  <% end  %>
  <div class="total-list">
    <h2>Review List</h2>
    <ul>
      <% @list.items.each do |item| %>
      <% if item.status == "purchased"  %>
      <li><span class="glyphicon glyphicon-ok"></span><%= item.description %></li>
      <% else %>
      <li><span class="glyphicon glyphicon-remove"></span><%= item.description %></li>
      <% end %>
      <% end %>
    </ul>

  </div>
    <button type="button" name="button" id="begin-shopping">Begin Shopping</button>
</div>



<script type="text/javascript">
  $(function(){

    $("#begin-shopping").on('click', function() {
      $('.item').first().fadeIn(2000);
      $('.item').first().addClass("current");
      $('#begin-shopping').hide();
    //   console.log("hey");
    // $(".shopping-items").animate(
    //         {"right": "+=550px"},
    //         "slow");
    });

    var count = 0;
    $('.buttons').on('click', '.got-it, .skip-it', function (e) {

      // $('.current').animate(
      //         {"right": "+=250px"},
      //         "slow");
      //
      e.preventDefault();
      $(this).parent().parent().hide();
      $(this).parent().parent().siblings().eq(count).fadeIn(500);
      count++;


    });
  });
</script>
