<div class="shopping-items col-md-6 col-md-offset-3">
  <button type="button" name="button" id="begin-shopping">Begin Shopping</button>
  <div class="all-items">
    <% @list.items.each do |item| %>
      <div class="item" data-item-url="<%= item_path(item) %>">
        <p>
          <%= item.quantity %>
          <%= item.description %>
        </p>
        <div class="buttons">
          <button type="button" name="button" class="got-it"><span class="glyphicon glyphicon-ok"></span>Got It</button>
          <button type="button" name="button" class="skip-it"><span class="glyphicon glyphicon-remove"></span>Skip It</button>
        </div>
      </div>
    <% end  %>
    <div class="list-review" data-list-url="<%= list_path(@list) %>">
      <h2>Review List</h2>
      <ul>
        <% @list.items.each do |item| %>
          <% if item.status == "purchased" %>
            <li><span class="glyphicon glyphicon-ok"></span><%= item.quantity %> <%= item.description %></li>
          <% else %>
            <li><span class="glyphicon glyphicon-remove"></span><%= item.quantity %> <%= item.description %></li>
          <% end %>
        <% end %>
      </ul>
      <p>
        <button type="button" name="button" id="submit-list">Submit List</button>
      </p>
    </div>
  </div>
</div>
