
<h1 class="page-title">User Profile</h1>

<div class="row update-user-alert" style="display:none;">
  <div class="col-md-3 col-md-offset-1">

<% if notice %>
      <p id="notice" class="alert-success"><%= notice %></p>

<% end %>
</div>
</div>
<div class="col-md-10 col-md-offset-1">
  <div class="user-info">
    <p>
      <strong>Name:</strong>
      <%= @user.first_name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
    <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
  </div>
</div>
