<!DOCTYPE html>
<html>
<head>
  <title>List It</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">
      <div class="nav-expand">
        ListIt
      </div>
      <div class="nav-content">


      <div class="navbar-header">
      <a class="navbar-brand" href="/">
        ListIt
      </a>

    </div>

    <% if current_user %>
      <p class="navbar-text navbar-right sign-out"><%= link_to 'Sign Out', '/sign-out' %> </p>
      <p class="navbar-text navbar-right current-user"><%= link_to current_user.full_name, user_path(current_user) %></p>
      <p class="navbar-text navbar-right my-lists"><%= link_to 'My Lists', lists_path %> </p>
    <% else %>
      <p class="navbar-text navbar-right"><%= link_to 'Sign In', '/sign-in' %></p>
      <p class="navbar-text navbar-right"><%= link_to 'Sign Up', new_identity_path %></p>
    <% end %>
    </div>
  </div>
  </nav>
  <div class="lists">
    <%= yield %>
  </div>
</body>

<script type="text/javascript">
  // $(function(){
  //
  //   $('.nav-expand').hover(function(){
  //     $('.nav-expand').hide();
  //     $('.nav-content').show();
  //   });
  //
  //   // $('nav').mouseout(function(){
  //   //   $('.nav-content').hide();
  //   //   $('.nav-expand').show();
  //   // });
  //
  // });
</script>
</html>
